*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none; 
    text-decoration: none;
}
:root{
    --primary-color: #edf2fc;
    --secondary-color: #000;
   
}
@media (max-width: 450px){
    #h1{
        font-size: 40px;
    }
    #img1{
        width: 50%;
        margin-left: 60px;
    }
    .foot{
        width: 50%;
    }
    .lastp{
        font-size: 20px;
    }
    #mymy{
        display: none;
        
    }
    #one{
        width: 20%;
        margin-left: 0px;
    }
    #two{
        width: 40%;
        display: none;
    }
    #three{
        width: 80%;
    }
    #header{
        height: 65vh;
    }
}
@media (min-width: 451px) and (max-width: 760px){
    #img1{
        width: 70%;
        margin-left: 30px;
    }
    #h1{
        font-size: 40px;
    }
    #mymy{
        display: none;
        visibiity: hidden;
    }

        
    
}


a:hover, a:active{
    color: red;
}
.dark-theme{
    --primary-color: #000106;
    --secondary-color: #fff;
}
#icon{
    width: 30px;
    cursor: pointer;
}
.top{
    position: fixed;
    bottom: 5%;
    right: 5%;
    color: var(--primary-color);
}
.pot{
    position: fixed;
    bottom: 4%;
    left: 6%;
    color: var(--primary-color);
}
header{
    height: 100vh;
}
.light{
    color: var(--primary-color);
}

body{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
.navbar{
    position: s;
}
#vavbar{
  
  top: 0;
  width: 100%; 
  background-color: var(--secondary-color); 
}
.navbar-collapse{
    justify-content: center;
}

.navbar-toggler{
    justify-content: center;
}
.icon{
    color: var(--primary-color);
}
.hire{
    font-size: 14px;
}
.hire:hover{
    background-color: red;
}
.home > img{
    position: absolute;
    width: 290px;
    right: 0px;
}
span{
    color: red;
}
.dahez{margin-top: 140px;
margin-left: 13px;
}
.fs{
    font-size: 70px;
    font-weight: bold;
    word-spacing: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
div ul li a:hover{
    color: red;
}
.menu:hover{
    color: red;
}


.text{
    text-align: center;
}

.hover{
    cursor: pointer;
    font-size: 100%;
}
.hover:hover{
    background-color: red;
}
.services{
    margin-top: 0;
    height: 100vh;
}
.text2{
    text-align: center;
}
.about{
    background-color: var(--secondary-color);
}
.about-me{
    font-size: 65px;
    transition: .4s;
}
.about-me:hover{
    color: red;
    transition: ease-in-out;
}
.send{
    font-size: 16px;
}
.foot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-color);
    width: 100%;
}
.imm{
    background-image: url(https://mdbcdn.b-cdn.net/img/new/fluid/city/113.webp);
    background-size: cover;
}
.ime:hover{
    background-color: red;
}

.pad{
    margin-top: 0%;
}
div.card:hover{
   background-color: re;
}


